/*========Checkbox=======*/
.checkbox {
	&__box {
		display: inline-block;
		width: 20px;
		height: 20px;
		border: 1px solid $gray;
		flex: 0 0 20px;
		margin-right: 10px;
	}
	&__description {
		font-family: $ff;
		font-size: 14px;
		font-weight: 400;
		color: $bl;
		line-height: $lh;
	}
	label {
		display: inline-flex;
		align-items: center;
		cursor: pointer;
	}
	input {
		display: none;
		&:checked + label {
			.checkbox__box {
				background: url("../images/checkbox.svg") center no-repeat, $red;
				border-color: $red;
			}
		}
	}
}
/*========/checkbox=======*/

/*======Input-box========*/
.input-box {
	position: relative;
	&__icon {
		width: 16px;
		height: 16px;
		position: absolute;
		top: 50%;
		left: 16px;
		z-index: 1;
		transform: translateY(-50%);
		svg {
			width: 16px;
			height: 16px;
			fill: $gray;
			transition: all .3s linear;
		}
	}
	input {
		width: 100%;
		padding: 16px 40px;
		background-color: $wh;
		border:1px solid $gray;
		font-family: $ff;
		font-size: 14px;
		font-weight: 400;
		color: $bl;
		line-height: $lh;
		border-radius: 0;
		&:focus+label, &.active + label  {
			width: auto;
			background-color: $wh;
			font-size: 12px;
			top: 0px;
			left: 10px;
			color: $bl;
			&:before {
				display: none;
			}
		}
	}
	label {
		width: calc(100% - 80px);
		font-family: $ff;
		font-size: 14px;
		font-weight: 400;
		color: $gray;
		line-height: $lh;
		position: absolute;
		top: 50%;
		left: 40px;
		z-index: 1;
		transform: translateY(-50%);
		transition: all .3s linear, background-color 0s linear;
		padding: 2px 5px;
		&:before {
			display: none;
			content: "Некорректный ввод";
			width: 100%;
			height: 100%;
			background-color: $wh;
			font-family: $ff;
			font-size: 14px;
			font-weight: 400;
			color: $red;
			line-height: $lh;
			position: absolute;
			top: 2px;
			left: 0;
			z-index: 10;
		}
	}
	&.active {
		.input-box__icon {
			svg {
				fill: $red;
			}
		}
	}
	&_necessarily {
		label {
			&:after {
				content: "*";
				color: $red;
			}
		}
	}
	&_no-icon {
		input {
			padding: 16px;
		}
		label {
			left: 16px;
		}
	}
	&.error {
		input {
			border-color: $red;
		}
		label {
			color: $red;
			&:before {
				display: block;
			}
		}
		.input-box__icon {
			svg {
				fill: $red;
			}
		}
	}
	&.filled {
		input {
			border-color: $green;
		}
		.input-box__icon {
			svg {
				fill: $green;
			}
		}
	}
	&__show {
		position: absolute;
		top: 50%;
		right: 16px;
		z-index: 1;
		transform: translateY(-50%);
		cursor: pointer;
		svg {
			width: 15px;
			height: 15px;
			fill: $gray;
			transition: all .2s linear;
		}
		&.active {
			svg {
				fill: $bl;
			}
		}
	}
}
/*======/input-box========*/

/*=========Textarea-box======*/
.textarea-box {
	textarea {
		width: 100%;
		padding: 16px;
		background-color: $wh;
		border:1px solid $gray;
		font-family: $ff;
		font-size: 14px;
		font-weight: 400;
		color: $bl;
		line-height: $lh;
		border-radius: 0;
		height: 150px;
		resize: none;
	}
}
/*=========/textarea-box======*/

/*======Select-box========*/
.select-box {
	position: relative;
	select {
		width: 100%;
		padding: 16px 46px 16px 15px;
		background-color: $wh;
		border:1px solid $gray;
		font-family: $ff;
		font-size: 14px;
		font-weight: 400;
		color: $bl;
		line-height: $lh;
		border-radius: 0;
		appearance: none;
		pointer-events: none;
	}
	label {
		width: auto;
		background-color: $wh;
		font-size: 12px;
		color: $bl;
		font-family: $ff;
		font-weight: 400;
		line-height: $lh;
		position: absolute;
		top: 0;
		left: 10px;
		z-index: 10;
		transform: translateY(-50%);
		transition: all .3s linear, background-color 0s linear;
		padding: 2px 5px;
		pointer-events: none;
	}
	.jq-selectbox {
		width: 100%;
		position: relative;
		&__select {
			width: 100%;
			padding: 16px 46px 16px 15px;
			background-color: $wh;
			border:1px solid $gray;
			border-radius: 0;
			cursor: pointer;
			position: relative;
			&:after {
				content: "";
				width: 15px;
				height: 15px;
				background: url("../images/arrow-red_down.svg") center no-repeat;
				position: absolute;
				top: 50%;
				right: 15px;
				z-index: 1;
				transform: translateY(-50%);
				transition: all .3s linear;
			}
			&-text {
				font-family: $ff;
				font-size: 14px;
				font-weight: 400;
				color: $bl;
				line-height: $lh;
			}
		}
		&.dropdown {
			.jq-selectbox__select:after {
				transform: translateY(-50%) rotate(180deg);
			}
		}
		&__dropdown {
			background-color: $wh;
			width: auto!important;
			min-width: 100%;
			max-width: 364px;
			max-height: 350px;
			overflow: auto;
			top: 100%;
			border: 1px solid $gray;
			border-top: none;
			li {
				padding: 10px;
				font-family: $ff;
				font-size: 14px;
				font-weight: 400;
				color: $bl;
				line-height: $lh;
				cursor: pointer;
				transition: all .2s linear;
				&:hover {
					background-color: $gray2;
					color: $red;
				}
			}
		}
	}
}
/*======/select-box========*/

/*======Filters======*/
.filters {
	&__block {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__title {
		font-family: $ff;
		font-size: 18px;
		font-weight: 600;
		color: $bl;
		line-height: $lh;
		margin-bottom: 15px;
	}
	&__item {
		margin-bottom: 12px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.checkbox__description {
		font-size: 16px;
	}
	&__button {
		margin-bottom: 20px;
		.btn {
			width: 100%;
		}
	}
	&__reset {
		text-align: center;
		button {
			font-family: $ff;
			font-size: 14px;
			font-weight: 400;
			color: $red;
			line-height: $lh;
			text-decoration: underline;
			transition: all .2s linear;
			background-color: transparent;
			&:hover {
				color: $dred;
				text-decoration: none;
			}
		}
	}
}
/*======/filters======*/

/*=======Tag=========*/
.tag {
	label {
		font-family: $ff;
		font-size: 16px;
		font-weight: 400;
		color: $bl;
		line-height: $lh;
		display: inline-block;
		padding: 9px 17px;
		border: 1px solid $gray;
		background-color: $gray2;
		transition: all .2s linear;
		cursor: pointer;
	}
	input {
		display: none;
		&:checked + label {
			color: $red;
			border-color: $red;
		}
		&:disabled + label {
			color: $gray;
			border-color: $gray;
		}
	}
	&_uppercase {
		text-transform: uppercase;
	}
}
/*=======/tag=========*/

/*======Login-form=========*/
.login-form {
	max-width: 558px;
	margin: 0 auto;
	.title {
		margin-bottom: 24px;
		text-align: center;
	}
	&__item {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__description {
		font-family: $ff;
		font-size: 16px;
		font-weight: 400;
		line-height: $lh;
		color: $bl;
		text-align: center;
		margin-bottom: 40px;
		&_small {
			font-size: 14px;
		}
		a {
			color: $red;
			font-weight: 600;
			transition: all .2s linear;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
		.checkbox {
			margin-right: 15px;
		}
	}
	&__forgot {
		font-family: $ff;
		font-size: 14px;
		font-weight: 400;
		color: $red;
		line-height: $lh;
		transition: all .2s linear;
		&:hover {
			color: $dred;
		}
	}
	&__noaccnt {
		display: flex;
		align-items: center;
		span {
			display: inline-block;
			font-family: $ff;
			font-size: 14px;
			font-weight: 400;
			color: $bl;
			line-height: $lh;
			margin-right: 24px;
		}
	}
	&__block {
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.login-form__row {
			width: 100%;
		}
	}
	.popup__title {
		margin-bottom: 15px;
	}
}
/*======/login-form=========*/

/*=========Order-form========*/
.order-form {
	&__title {
		font-family: $ff;
		font-size: 24px;
		font-weight: 600;
		color: $bl;
		line-height: $lh;
		margin-bottom: 24px;
	}
	&__block {
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__box {
		display: flex;
		flex-wrap: wrap;
		margin-left: -24px;
		margin-bottom: -24px;
		>* {
			width: calc(50% - 24px);
			margin-left: 24px;
		}
	}
	&__item {
		margin-bottom: 24px;
		&-row {
			display: flex;
		}
		&-half {
			width: calc(50% - 12px);
			margin-right: 24px;
			&:last-child {
				margin-right: 0;
			}
		}
		&-select {
			position: relative;
			&:first-child {
				z-index: 14;
			}
			&:nth-child(2) {
				z-index: 13;
			}
		}
	}
	&__tabs-nav {
		margin-bottom: 24px;
		.tabs-nav a {
			width: 50%;
			padding: 15px 20px;
			color: $red;
			&.active {
				font-weight: 600;
			}
		}
	}
	&__subtitle {
		font-family: $ff;
		font-size: 18px;
		font-weight: 600;
		color: $bl;
		line-height: $lh;
		margin-bottom: 24px;
	}
	&__pay {
		&-box {
			display: flex;
			margin-left: -24px;
		}
		&-item {
			width: calc(33.33333% - 24px);
			margin-left: 24px;
			label {
				width: 100%;
				height: 100%;
				text-align: center;
				font-family: $ff;
				font-size: 16px;
				font-weight: 400;
				color: $bl;
				line-height: $lh;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				padding: 15px 8px;
				border: 1px solid $gray;
				background-color: $gray2;
				transition: all .2s linear;
				cursor: pointer;
			}
			input {
				display: none;
				&:checked + label {
					color: $wh;
					border-color: $red;
					background-color: $red;
					font-weight: 600;
				}
				&:disabled + label {
					color: $gray;
					border-color: $gray;
				}
			}
		}
	}
}
/*=========/order-form========*/

/*========Pickup-box=======*/
.pickup-box {
	&__block {
		display: flex;
		align-items: center;
		margin-right: 14px;
	}
	&__checkbox {
		display: inline-block;
		width: 20px;
		height: 20px;
		border: 1px solid $gray;
		flex: 0 0 20px;
		margin-right: 10px;
	}
	&__info {
		font-family: $ff;
		font-size: 16px;
		font-weight: 400;
		color: $bl;
		line-height: $lh;
		&_name {
			display: block;
			font-weight: 600;
			margin-bottom: 8px;
		}
	}
	&__price {
		padding: 8px 15px;
		background-color: $red;
		font-family: $ff;
		font-size: 14px;
		font-weight: 600;
		color: $wh;
		line-height: $lh;
		text-align: center;
	}
	label {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		padding: 15px;
		border: 1px solid $red;
	}
	input {
		display: none;
		&:checked + label {
			.pickup-box__checkbox {
				background: url("../images/checkbox.svg") center no-repeat, $red;
				border-color: $red;
			}
		}
	}
}
/*========/pickup-box=======*/

/*==========Adaptive=========*/
@media(max-width: 992px) and (min-width: 547px) {
	.order-form {
		&__pay {
			&-item {
				label {
					font-size: 12px;
				}
			}
		}
	}
}
@media(max-width: 860px) {
	.login-form {
		.title {
			margin-bottom: 10px;
		}
		&__description {
			margin-bottom: 20px;
		}
	}
}
@media(max-width: 546px) {
	.tag {
		label {
			font-size: 14px;
			padding: 10px 15px;
		}
		&_uppercase {
			label {
				font-size: 12px;
			}
		}
	}
	.order-form {
		&__title {
			font-size: 18px;
			margin-bottom: 15px;
		}
		&__block {
			margin-bottom: 20px;
		}
		&__box {
			flex-wrap: wrap;
			margin-left: 0;
			margin-bottom: -15px;
			>* {
				width: 100%;
				margin-left: 0;
				margin-bottom: 0;
			}
		}
		&__item {
			margin-bottom: 15px;
			&-half {
				width: calc(50% - 7.5px);
				margin-right: 15px;
			}
		}
		&__tabs-nav {
			margin-bottom: 15px;
		}
		.tabs-nav {
			flex-direction: column;
			border-bottom: none;
			a {
				width: 100%;
				margin-bottom: 10px;
				border-bottom: 1px solid $red;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&__pay {
			&-box {
				flex-direction: column;
				margin-left: 0;
			}
			&-item {
				width: 100%;
				margin-left: 0;
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	.textarea-box {
		textarea {
			height: 120px;
		}
	}
	.pickup-box {
		&__info {
			font-size: 14px;
			&_name {
				margin-bottom: 5px;
			}
		}
	} 
	.login-form {
		&__item {
			margin-bottom: 15px;
		}
		&__row {
			&_wrap {
				flex-wrap: wrap;
				.checkbox {
					margin-right: 0;
					margin-bottom: 10px;
				}
				.btn {
					width: 100%;
				}
			}
		}
		&__block {
			margin-top: 0;
			.btn {
				order: -1;
				width: 100%;
				margin-bottom: 15px;
				&-transparent {
					width: 100%;
				}
			}
			.login-form__noaccnt {
				width: 100%;
				flex-direction: column;
				span {
					margin-right: 0;
					margin-bottom: 10px;
				}
			}
		}
	}
}
@media(max-width: 360px) {
	.pickup-box {
		label {
			padding: 10px;
		}
		&__info {
			font-size: 12px;
			&_name {
				margin-bottom: 3px;
			}
		}
		&__price {
			font-size: 10px;
		}
	} 
}
/*==========/adaptive=========*/